<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Domestic" value="https://pkgs.dev.azure.com/ocas/_packaging/Domestic/nuget/v3/index.json" />
    <add key="OcasLibs" value="https://pkgs.dev.azure.com/ocas/_packaging/OcasLibs/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
  <packageSourceCredentials>
    <OcasLibs>
      <add key="Username" value="canBeAnythingDoesNotMatter" />
      <add key="ClearTextPassword" value="{API_KEY}" />
    </OcasLibs>
    <Domestic>
      <add key="Username" value="canBeAnythingDoesNotMatter" />
      <add key="ClearTextPassword" value="{API_KEY}" />
    </Domestic>
  </packageSourceCredentials>
</configuration>